/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

// Styles start from here

html, body, #app {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  font-size: 18px;
}

h1 {
  // font-size: 3em;
  font-size: 2.4em;
}
h2{
  font-size: 2.0em;
}
h3 {
  font-size: 1.6em;

}
h4 {
  font-size: 1.2em;

}
h5{
  font-size: 1em;
}
p {
  margin-bottom: 10px;
}
.header {
  background-color: #333;
  color: #ccc;
  padding: 25px;
  border-bottom: 1px solid #aaa;
}
.page {
  float: left;
  width: 75%;
  margin: 50px auto;
  &.first{
    float: none;
  }
}
.side-bar {
  border-left: 1px solid #333;
  float: left;
  height: 100%;
  width: 24%;
}
.grid {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  min-width: 480px;
}

.row {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.cell {
  border: 1px solid #668db6;
  width: 50px;
  height: 50px;
  background-color: #2c3e50;
  float: left;
  position: relative;
  cursor: pointer;
}

.fixedSphere {
  height: 20px;
  width: 20px;
  z-index: 2;
  background-color: tomato;
  border-radius: 100%;
  float: left;
}

.sphere {
  height: 20px;
  width: 20px;
  z-index: 2;
  background-color: tomato;
  border-radius: 100%;
  position: absolute;
  top: 13px;
  right: 13px;
  border: 1px solid #333;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 41%;
  &.right {
    right: 5px
  }
  &.left {
    left: 8px;
  }
  &.top {
    top: 15px;
  }
  &.bottom {
    top: 25px;
  }
  &.transOrigin1 {
    // transform-origin: 39% 46%;
  }
  &.transOrigin2 {
    // transform-origin: 30% 40%;
  }
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

.stacked {
  margin-bottom: 10px;
  &.double {
    margin-bottom: 20px;
  }
  &.tripple {
    margin-bottom: 30px;
  }
}
.reverse-stacked {
  margin-top: 10px;
  &.double {
    margin-top: 20px;
  }
  &.tripple {
    margin-top: 30px;
  }
}

.input{
  font-size: 16px;
  padding: 5px;
  &.text{
  }
  &.button{
    padding: 7px;
  }
  &.navBtn{
    border: 1px solid #aaa;
    float: right;
    font-size: 18px;
    padding: 10px 14px;
    border-radius: 3px;
    background: #fff;
    &:hover{
      background: #eee;
    }
    &:active{
      background: #ddd;
    }
  }
}
.playerDot {
  .fixedSphere;
  .sphere;
  position: static;
  background: none;
  margin: 8px 10px;
}

//http://www.smashingmagazine.com/2015/07/designing-simple-pie-charts-with-css/
/**
 * Pie charts — with SVG
 */

.pie {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 10px;
  transform: rotate(-90deg);
}

svg {
  background: yellowgreen;
  border-radius: 50%;
}

circle#outer {
  fill: yellowgreen;
  stroke: #ddd;
  stroke-width: 32;
}

@keyframes grow { to { stroke-dasharray: 100 100 } }

.pie.animated circle {
  animation: grow 30s infinite linear;
}

.timer{
  position: relative;
}

.player-info{
  position: absolute;
  top: 34px;
  width: 120px;
  text-align: center;
  p{
    display: block;
    font-size: 14px;
    margin: 0;
  }
  span{
    display: block;
    font-size: 34px;
  }
  small{
    display: block;
    font-size: 10px;
    color: #aaa;
  }
}